<div class="col-md-4 col-md-offset-4">
	<h1>Editing User <%= link_to 'Show', @user, class: "btn btn-info" %>
	<%= link_to 'Back', users_path, class: "btn btn-primary" %></h1>

	
	<%= render 'form' %>
</div>