<div class="col-md-5 col-md-offset-4">
	<h1>Editing Order <%= link_to 'Show', @order, class: "btn btn-info" %> <%= link_to 'Back', orders_path, class: "btn btn-primary" %></h1>

	<%= render 'form' %>

	
</div>
